{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}get-started/introduction/" role="button">Get Started</a>
    </div>
  </div>
</section>
<section class="section section-md my-5">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-7">
        <p class="fs-4 mt-4">{{ ":rocket:" | emojify }}</p>
        <h2 class="h4 mt-0">Mission</h2>
        <p>We want to integrate with existing implementations, extend sources and apply recommendations for optimizing and reducing computational footprint. We promote Cloud Native infrastructure to combat environmental challenges. We want to raise awareness of ecological sustainability as a critical element of open source development and support projects which foster an understanding of energy drivers. </p>
      </div>

      <div class="col-lg-7">
        <p class="fs-4 mt-4">{{ ":astronaut:" | emojify }}</p>
        <h2 class="h4 mt-0">Carbonaut</h2>
        <p>Carbonaut implements an open source carbon emission, and in future other sustainability factors relevant, control plane. It helps to visualize, analyze and optimize your computational carbon footprint. Carbonaut integrates with the cloud provider, hypervisors and container orchestrator to enable a 360-degree view and action radios.</p>
      </div>
      <div class="col-lg-7">
        <p class="fs-4 mt-4">{{ ":star:" | emojify }}</p>
        <h2 class="h4 mt-0">Vision</h2>
        <p>Open source can be a key driver for causing an environmentally friendly ICT. Throughout its multiplicity, open source can cause a positive impact on CO2 production. Leading by example, we will implement a tool that can be adapted by anyone to start their environmental change.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}




{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
